<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<div class="wrapper wrapper-content ui-layout-center">
    <table class="bootstrap-table table-striped" data-mobile-responsive="true"
           data-sort-name="create_time" data-sort-order="desc">
    </table>
</div>

<div th:include="include :: footer"></div>
<script th:src="@{/admin/prod/prod/prod.js}"></script>
<script th:inline="javascript">
    var editFlag = [[${#authorization.expression('hasAuthority(''system:user:edit'')')}]];
    var removeFlag = [[${#authorization.expression('hasAuthority(''system:user:remove'')')}]];
    var resetPwdFlag = [[${#authorization.expression('hasAuthority(''system:user:resetPwd'')')}]];
</script>
</body>
</html>