<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liuyiyou.shop.base.mapper.AttributeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.liuyiyou.shop.base.entity.Attribute">
        <id column="attr_id" property="attrId" />
        <result column="attr_name" property="attrName" />
        <result column="attr_keywords" property="attrKeywords" />
        <result column="group_type" property="groupType" />
        <result column="attr_members" property="attrMembers" />
        <result column="attr_type" property="attrType" />
        <result column="attr_display" property="attrDisplay" />
        <result column="attr_weight" property="attrWeight" />
        <result column="val_ids" property="valIds" />
        <result column="state" property="state" />
        <result column="create_date" property="createDate" />
        <result column="last_update" property="lastUpdate" />
        <result column="update_suid" property="updateSuid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        attr_id, attr_name, attr_keywords, group_type, attr_members, attr_type, attr_display, attr_weight, val_ids, state, create_date, last_update, update_suid
    </sql>

</mapper>
