<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="zh" xmlns:th="http://www.thymeleaf.org"
>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<div class="wrapper wrapper-content">
    <!-- 省市区地域查询展示 -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>一级类目</h4>
                <div id="treeview-searchable_0" class=""></div>
            </div>
            <div class="col-sm-4">
                <h4>二级类目</h4>
                <div id="treeview-searchable_1"></div>
            </div>
            <div class="col-sm-4">
                <h4>三级类目</h4>
                <div id="treeview-searchable_2"></div>
            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/admin/base/category/category.js}"></script>
<script th:inline="javascript">
    var addFlag = [[${#authorization.expression('hasAuthority(''system:menu:add'')')}]];
    var editFlag = [[${#authorization.expression('hasAuthority(''system:menu:edit'')')}]];
    var removeFlag = [[${#authorization.expression('hasAuthority(''system:menu:remove'')')}]];
</script>
</body>
</html>