<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="醉品商城是中国专业的正宗品牌茶叶,茶具,花茶购物商城,经营铁观音,大红袍,红茶,绿茶,普洱茶,西湖龙井,武夷岩茶,黄山毛峰等国内外原产地品牌茶叶,欢迎选购">
    <meta name="keyword" content="茶叶、茶具一站式网上购物商城:铁观音,金骏眉,红茶,绿茶,大红袍,普洱茶,茶具">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="renderer" content="webkit"/>
    <meta name="renderer" content="ie-comp"/>
    <meta name="renderer" content="ie-stand"/>
    <title>一优茶选
    </title>
    <link rel="shortcut icon" href="https://www.zuipin.cn/web/images/icon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://www.zuipin.cn/web/fonts/iconfont.css?v=547">
    <link rel="stylesheet" href="https://www.zuipin.cn/web/css/reset-pc.css?v=547">
    <link rel="stylesheet" href="https://www.zuipin.cn/web/css/common.css?v=547">
    <link rel="stylesheet" href="https://www.zuipin.cn//web/css/web_index_index.3cc12225ab8342c04ec0a59781ea39d5.css">
    <link rel="stylesheet" href="https://www.zuipin.cn/web/css/indexv2.css?v=547">

    <script type="text/javascript">
        var uri = ''.replace(/&amp;/g, '&');
        ;
        var hash = location.hash;
        if (uri) {
            if (hash) uri += hash;
            history.replaceState(null, '首页', uri);
        }

    </script>

</head>
<body>

<div id="container">
    <!--header start-->
    <div id="header">
        <div class="zuipin-wrapper clearfix">
            <div class="float-left join-zp">
                <ul class="header-join clearfix">
                    <li class="zp-index"><a href="/">醉品商城首页</a></li>
                </ul>
            </div>
            <div class="float-right cart-info">
                <dl>
                    <dt class="cart-num">
                        <a href="javascript:;">购物车</a>
                    </dt>
                    <dd class="cart-list">
                        <div class="list_empty">
                            <img src="https://img1.zuipin.cn/new_pc/logo/logo1.gif" alt="">
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="float-right enter-zp">
                <ul class="header-sel clearfix">
                    <li><a href="/login">登录</a></li>
                    <li><a href="/regist">注册</a></li>
                    <li><a id="myOrders" href="javascript:;">我的订单</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--header end-->
    <!--header-tap start-->
    <div id="headerTap">
        <div class="zuipin-wrapper clearfix">
            <div class="logo float-left">
                <a href="/">
                    <img src="https://img1.zuipin.cn/new_pc/logo/logo1.gif" alt="醉品商城"> </a>
            </div>
            <div class="search-box float-left">
                <form action="/list" id="list">
                    <input type="text" name="keyword" value="" class="search-text">
                </form>
                <span class="search-btn" id="sub"></span>
                <div class="clearfix" id="key-word">
                    <a href="/list?catId=30" target="_blank" class="first_hot">绿茶</a>
                    <a href="/list?catId=27" target="_blank">安溪铁观音</a>
                    <a href="/list?catId=34" target="_blank">龙井</a>
                    <a href="/list?catId=72" target="_blank">金骏眉</a>
                    <a href="/list?catId=40" target="_blank">普洱茶</a>
                </div>
            </div>
        </div>
    </div>

    <!--header-tap end-->

    <!--header-sel start-->
    <!--header-sel end-->
    <!--banner start-->
    <div id="banner"></div>
    <!--banner end-->
    <!--fivePic end-->
    <!-- special start -->
    <div class="special-item" id="special">
    </div>
    <!-- special end -->

    <!-- drink start -->
    <div class="drink-item" id="drink">
        <div class="zuipin-wrapper">
            <div class="card-title">
                自饮
            </div>
            <div class="card-content clearfix">
                <!-- left -->
                <div class="card-left">
                    <a href="/goods?id=8699842" target="_blank" class="tag-card"><img
                            src="https://img2.zuipin.cn/new_pc/%E8%87%AA%E9%A5%AE%E5%8C%BA/自饮.jpg" alt=""></a>
                    <a href="https://www.zuipin.cn/assistant/index/drink" target="_blank" class="more-card">
                        <h2>自饮助手</h2>
                        <p class="more-text">自己喝的茶</p>
                        <p class="more-text">包装不用太复杂</p>
                        <img src="https://www.zuipin.cn/web/images/new-gift/more.png" alt="查看更多">
                    </a>
                </div>
                <!-- center -->
                <div class="card-center clearfix">
                    <a href="https://www.zuipin.cn/goods?id=8699820" target="_blank">
                        <div class="tag-img">
                            <img src="https://img2.zuipin.cn/zpfx/common/2018-03-06-10-50-40-5a9e0200a4df813079.png">
                        </div>
                        <div class="special-img">
                            <img src="https://img4.zuipin.cn/zpfx/proimg/2018-04-12-21-59-56-5acf665c340a413065.jpg?x-oss-process=image/resize,m_lfit,h_160,w_160"/>
                        </div>
                        <p class="special-descr" title="一匠一品 龙井炒茶王仇晓华手制 西湖龙井 2018年雨前茶 特级 50g 方盒">一匠一品 龙井炒茶王仇晓华手制 西湖龙井
                            2018年雨前茶 特级 50g 方盒</p>
                        <p class="special-alt" title="鲜浓雨前茶，滋味更足">鲜浓雨前茶，滋味更足</p>
                        <p class="card-price">￥138</p>
                    </a>
                </div>
                <!-- right -->
                <div class="card-right">
                    <div class="news-list">
                        <a target="_blank" class="news-head">自饮锦囊</a>
                        <div class="news-content">
                            <!-- news 1 -->
                            <a href="https://www.zuipin.cn/tips/drink/197#tipsdetail" target="_blank" class="news-item">
                                <p class="news-title" title="茶友测评：爱喝普洱的都来看看，资深茶鬼告诉你怎么选最靠谱">
                                    茶友测评：爱喝普洱的都来看看，资深茶鬼告诉你怎么选最靠谱</p>
                                <div class="news-artical clearfix">
                                    <img src="https://img1.zuipin.cn/zpfx/newsimg/2018-05-11-11-55-11-5af5141f34ae349124.jpg?x-oss-process=image/resize,m_lfit,h_50,w_50"/>
                                    <p title="如何鉴别一款普洱茶的品质？怎么根据自己的喜好选购普洱茶？醉品君邀请了我们的茶鬼级会员“肖**96”对老同志的三款热卖普洱茶进行测评。手把手教你怎么辨别茶叶品质高低，怎么挑选适合自己的茶。肖**96&amp;n">
                                        如何鉴别一款普洱茶的品质？怎么根据自己的喜好选购普洱茶？醉品君邀请了我们的茶鬼级会员“肖**96”对老同志的三款热卖普洱茶进行测评。手把手教你怎么辨别茶叶品质高低，怎么挑选适合自己的茶。肖**96&amp;n</p>
                                </div>
                            </a>
                            <!-- news 1 -->
                        </div>
                    </div>
                    <a href="https://www.zuipin.cn/tips/drink" target="_blank" class="more-card">
                        <h2>浏览更多</h2>
                        <p class="more-text">想要喝茶，不知如何选</p>
                        <p class="more-text">这里有一只锦囊！</p>
                        <img src="https://www.zuipin.cn/web/images/new-gift/more.png" alt="查看更多">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- drink end -->

    <!-- drink start -->
    <div class="drink-item" id="gift">
        <div class="zuipin-wrapper">
            <div class="card-title">
                送礼
            </div>
            <div class="card-content clearfix">
                <!-- left -->
                <div class="card-left">
                    <a href="/goods?id=8699828" target="_blank" class="tag-card"><img
                            src="https://img2.zuipin.cn/new_pc/%E9%80%81%E7%A4%BC%E5%8C%BA/songli.png" alt=""></a>
                    <a href="https://www.zuipin.cn/assistant/index/gift" target="_blank" class="more-card">
                        <h2>送礼助手</h2>
                        <p class="more-text">为您用心推荐每一份礼物</p>
                        <img src="https://www.zuipin.cn/web/images/new-gift/more.png" alt="查看更多">
                    </a>
                </div>
                <!-- center -->
                <div class="card-center clearfix">
                    <a href="https://www.zuipin.cn/goods?id=8684486-1" target="_blank">
                        <div class="tag-img">
                            <img src="https://img2.zuipin.cn/zpfx/common/2018-03-06-10-50-40-5a9e0200a4df813079.png">
                        </div>
                        <div class="special-img">
                            <img src="https://img4.zuipin.cn/zpfx/proimg/2018-03-20-16-07-58-5ab0c15e4c98771578.jpg?x-oss-process=image/resize,m_lfit,h_160,w_160"/>
                        </div>
                        <p class="special-descr" title="狮牌 西湖龙井 2018年明前茶 绿茶 一级 100g 湖光礼盒 配手提袋">狮牌 西湖龙井 2018年明前茶 绿茶 一级
                            100g 湖光礼盒 配手提袋</p>
                        <p class="special-alt" title="原产地老味道">原产地老味道</p>
                        <p class="card-price">￥348</p>
                    </a>
                    <a href="https://www.zuipin.cn/goods?id=8699598" target="_blank">
                        <div class="tag-img">
                            <img src="https://img2.zuipin.cn/zpfx/common/2018-03-06-10-50-40-5a9e0200a4df813079.png">
                        </div>
                        <div class="special-img">
                            <img src="https://img1.zuipin.cn/zpfx/proimg/2018-01-03-09-25-51-5a4c311f0644761816.jpg?x-oss-process=image/resize,m_lfit,h_160,w_160"/>
                        </div>
                        <p class="special-descr" title="【有机茶】八桂凌云 白毫绿茶 雾中缘凌螺春 120g 2018春茶 特级">【有机茶】八桂凌云 白毫绿茶 雾中缘凌螺春 120g
                            2018春茶 特级</p>
                        <p class="special-alt" title="7年有机认证">7年有机认证</p>
                        <p class="card-price">￥218</p>
                    </a>
                </div>
                <!-- right -->
                <div class="card-right">
                    <div class="news-list">
                        <a target="_blank" class="news-head">送礼锦囊</a>
                        <div class="news-content">
                            <!-- news 1 -->
                            <a href="https://www.zuipin.cn/tips/gift/142#tipsdetail" target="_blank" class="news-item">
                                <p class="news-title" title="年前送礼小技巧，拿走不谢">年前送礼小技巧，拿走不谢</p>
                                <div class="news-artical clearfix">

                                    <img src="https://img4.zuipin.cn/zpfx/newsimg/2018-01-31-09-48-50-5a7120827be7863023.jpg?x-oss-process=image/resize,m_lfit,h_50,w_50"/>
                                    <p title="每到年底又到了礼尚往来，买买买的行列除犒劳辛苦一年的自己，更重要的是给身边的人挑选礼物感谢他们这一年来对自己帮助和陪伴“人情练达皆文章”送礼有着太多的讲究礼物太轻，会显得对方误认为瞧不起他礼物太重，一">
                                        每到年底又到了礼尚往来，买买买的行列除犒劳辛苦一年的自己，更重要的是给身边的人挑选礼物感谢他们这一年来对自己帮助和陪伴“人情练达皆文章”送礼有着太多的讲究礼物太轻，会显得对方误认为瞧不起他礼物太重，一</p>
                                </div>
                            </a>
                            <!-- news 1 -->
                        </div>
                    </div>
                    <a href="https://www.zuipin.cn/tips/gift" target="_blank" class="more-card">
                        <h2>浏览更多</h2>
                        <p class="more-text">不懂如何送礼，让你头疼</p>
                        <p class="more-text">这里有一只锦囊！</p>
                        <img src="https://www.zuipin.cn/web/images/new-gift/more.png" alt="查看更多">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- drink end -->

    <!-- pro start -->
    <div class="drink-item" id="tea">
        <div class="zuipin-wrapper">
            <div class="card-title">
                茶器/茶食
            </div>
            <div class="card-content clearfix">
                <!-- left -->
                <div class="card-left">
                    <a href="/goods?id=8685045" target="_blank" class="pro-left-two">
                        <img src="https://img2.zuipin.cn/new_pc/%E8%8C%B6%E5%85%B7%E5%8C%BA/chaju.jpg" alt="">
                    </a>
                    <a href="/goods?id=8685180" target="_blank" class="pro-left-two">
                        <img src="https://img2.zuipin.cn/new_pc/%E8%8C%B6%E5%85%B7%E5%8C%BA/chaju2.jpg" alt="">
                    </a>
                    <style>
                        .pro-left-two img {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    </style>
                </div>
                <!-- center -->
                <div class="card-center clearfix" id="new-card-center">
                    <a href="https://www.zuipin.cn/goods?id=8699724" target="_blank">
                        <div class="tag-img">
                        </div>
                        <div class="special-img">
                            <img src="https://img1.zuipin.cn/zpfx/proimg/2018-01-29-16-18-02-5a6ed8bae893c6939.jpg?x-oss-process=image/resize,m_lfit,h_160,w_160"/>
                        </div>
                        <p class="special-descr" title="玻璃茶具 钟式敞口杯 单杯">玻璃茶具 钟式敞口杯 单杯</p>
                        <p class="special-alt" title="24K金箔杯 流金光彩之美">24K金箔杯 流金光彩之美</p>
                        <p class="card-price">￥84</p>
                    </a>
                    <a href="https://www.zuipin.cn/goods?id=8685174" target="_blank">
                        <div class="tag-img">
                        </div>
                        <div class="special-img">
                            <img src="https://img1.zuipin.cn/zpfx/proimg/2017-09-09-09-34-40-59b34530a790580877.jpg?x-oss-process=image/resize,m_lfit,h_160,w_160"/>
                        </div>
                        <p class="special-descr" title="陶瓷茶具 手绘粉彩梅花 木座和趣盖碗套组 10入">陶瓷茶具 手绘粉彩梅花 木座和趣盖碗套组 10入</p>
                        <p class="special-alt" title="瓷木结合，防划台面 艺术感十足">瓷木结合，防划台面 艺术感十足</p>
                        <p class="card-price">￥430</p>
                    </a>
                    <a href="https://www.zuipin.cn/goods?id=8699421" target="_blank">
                        <div class="tag-img">
                        </div>
                        <div class="special-img">
                            <img src="https://img3.zuipin.cn/zpfx/proimg/2017-11-09-19-54-16-5a0441e87aaef41549.jpg?x-oss-process=image/resize,m_lfit,h_160,w_160"/>
                        </div>
                        <p class="special-descr" title="玻璃茶具 描金盖碗">玻璃茶具 描金盖碗</p>
                        <p class="special-alt" title="金箔金边装饰 富贵精致">金箔金边装饰 富贵精致</p>
                        <p class="card-price">￥128</p>
                    </a>
                    <a href="https://www.zuipin.cn/goods?id=4010627110" target="_blank">
                        <div class="tag-img">
                        </div>
                        <div class="special-img">
                            <img src=""/>
                        </div>
                        <p class="special-descr" title="成艺陶瓷茶具 世外桃源7入 手绘青花瓷红茶茶具">成艺陶瓷茶具 世外桃源7入 手绘青花瓷红茶茶具</p>
                        <p class="special-alt" title="手绘青花瓷红茶茶具 自用、送礼都适合">手绘青花瓷红茶茶具 自用、送礼都适合</p>
                        <p class="card-price">￥158</p>
                    </a>
                    <a href="https://www.zuipin.cn/goods?id=8684991" target="_blank">
                        <div class="tag-img">
                        </div>
                        <div class="special-img">
                            <img src="https://img1.zuipin.cn/zpfx/proimg/2017-09-19-17-28-02-59c0e322376c239108.jpg?x-oss-process=image/resize,m_lfit,h_160,w_160"/>
                        </div>
                        <p class="special-descr" title="茶道配件 陶瓷茶宠 不看不听不说 3个/套">茶道配件 陶瓷茶宠 不看不听不说 3个/套</p>
                        <p class="special-alt" title="桌面摆件 茶玩">桌面摆件 茶玩</p>
                        <p class="card-price">￥230</p>
                    </a>
                    <a href="https://www.zuipin.cn/goods?id=8699484" target="_blank">
                        <div class="tag-img">
                        </div>
                        <div class="special-img">
                            <img src="https://img4.zuipin.cn/zpfx/proimg/2017-12-06-12-48-48-5a2776b005a5347122.jpg?x-oss-process=image/resize,m_lfit,h_160,w_160"/>
                        </div>
                        <p class="special-descr" title="紫砂壶 景舟石瓢 200ml 紫泥 手工壶">紫砂壶 景舟石瓢 200ml 紫泥 手工壶</p>
                        <p class="special-alt" title="经典器型 沉稳大气">经典器型 沉稳大气</p>
                        <p class="card-price">￥380</p>
                    </a>
                    <a href="https://www.zuipin.cn/goods?id=8699437" target="_blank">
                        <div class="tag-img">
                        </div>
                        <div class="special-img">
                            <img src="https://img1.zuipin.cn/zpfx/proimg/2017-11-16-15-42-12-5a0d41547738070048.jpg?x-oss-process=image/resize,m_lfit,h_160,w_160"/>
                        </div>
                        <p class="special-descr" title="紫砂壶 工艺美术大师金奖杨水定之作 扁平壶 135ml 手工壶">紫砂壶 工艺美术大师金奖杨水定之作 扁平壶 135ml
                            手工壶</p>
                        <p class="special-alt" title="金奖工艺师之作  好看又好用">金奖工艺师之作 好看又好用</p>
                        <p class="card-price">￥430</p>
                    </a>
                    <div class="add-card">
                        <a href="https://www.zuipin.cn/goods?id=8684461" target="_blank" class="samll-card">
                            <p class="small-card-text" title="广州恒福 耐热玻璃 旋转全过滤茶壶 得意壶 绿色 办公室家用 单壶 700ml">广州恒福 耐热玻璃 旋转全过滤茶壶
                                得意壶 绿色 办公室家用 单壶 700ml</p>
                            <p class="small-card-price">￥136.00</p>
                            <img src="">
                        </a>
                        <a href="https://www.zuipin.cn/list?catId=48" target="_blank" class="more-card">
                            <h2>浏览更多</h2>
                            <p class="more-text">茶道配件</p>
                            <img src="https://www.zuipin.cn/web/images/new-gift/more.png" alt="查看更多">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- pro end -->

    <!-- hot start -->
    <div class="hot-item" id="hot">
        <div class="zuipin-wrapper">
            <div class="hot-head clearfix">
                <span>热评产品</span>
                <span></span>
                <span>评价，你的好茶</span>
            </div>
            <div class="hot-content">
                <div class="slide-item">
                    <ul class="clearfix">
                        <li>
                            <a href="https://www.zuipin.cn/goods?id=8699820" target="_blank" class="hot-news">
                                <div class="news-img">
                                    <img src=""/>
                                </div>
                                <p class="hot-text" title="品牌口碑好，茶叶确实不错，口感很好，回甘味道正，非常满意！！！发货及时">
                                    品牌口碑好，茶叶确实不错，口感很好，回甘味道正，非常满意！！！发货及时</p>
                                <p class="hot-people" title="来自咚咚产的评价">来自咚咚产的评价</p>
                                <p class="hot-descr clearfix">
                                    <span title="一匠一品 龙井 50g">一匠一品 龙井 50g</span>
                                    <span></span>
                                    <span>￥138.00</span>
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="hdbtn">
                    <a class="prev sPrev"></a>
                    <ul style="display: none;"></ul>
                    <a class="next sNext"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- hot end -->

    <!-- first start -->
    <!-- first end -->
    <!--content end-->

    <!-- floor start -->
    <div class="floor-item">
        <ul>
            <li><a href="javascript:;">特价</a></li>
            <li><a href="javascript:;">自饮</a></li>
            <li><a href="javascript:;">送礼</a></li>
            <li><a href="javascript:;">茶具</a></li>
            <li><a href="javascript:;">热评</a></li>
            <li><a href="javascript:;" class="last-floor">新闻</a></li>
        </ul>
        <!-- <a href="javascript:;" class="floor-top">顶部</a> -->
    </div>
    <!-- floor end -->

    <!-- 右侧导航栏 -->
    <div class="consultation-item">
        <div class="consultion-top">
            <i class="iconfont">&#xe65d;</i>
            <p>顶部</p>
        </div>
    </div>


    <!-- footer -->
    <div class="zuipin-footer">
        <div class="zuipin-wrapper">
        </div>
        <div class="footer-info-box">
            <div class="zuipin-wrapper">
            </div>
        </div>
    </div>
    <!--loading-->
</div>
<!--container end-->

<script id="bannerTemplate" type="text/html">
    <div class="zuipin-wrapper">
        <div class="slide-box">
            <div class="bd">
                <ul>
                    {{each data value i}}
                    <li class="banner-item" data-color="#e6e1de">
                        <a href="1" target="_blank">
                            <img src="{{value.picV2}}" alt="">
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>

        </div>
    </div>
</script>

<script id="sepecialTemplate" type="text/html">
    <div class="zuipin-wrapper">
        <div class="special-title clearfix">
            <div class="special-logo">
                <img src="https://www.zuipin.cn/web/images/new-gift/special.png" alt="醉品特价">
            </div>
            <h2 class="special-head">醉品<span>特价</span></h2>
            <div class="width-1"></div>
            <p class="special-text">总有你想不到的低价</p>
            <!-- countdown 输入结束时间-->
            <input type="hidden" value="2018-05-31 00:00:00" id="time">
            <div class="countdown clearfix">
                <span class="tip-text">距结束：</span>
                <span class="days"></span>
                <span class="time-date hours"></span>
                <span class="time-code">:</span>
                <span class="time-date minutes"></span>
                <span class="time-code">:</span>
                <span class="time-date seconds"></span>
            </div>

        </div>
        <div class="special-content">
            <div class="slide-item">
                <ul class="clearfix">
                    {{each data.list prod index}}
                    <li>
                        <a href="https://www.zuipin.cn/goods?id=8700148" target="_blank" class="special-good">
                            <div class="special-img">
                                <img src="{{prod.album}}"/>
                            </div>
                            <p class="special-descr"
                               title="{{prod.prodName}}">
                                {{prod.prodName}}</p>
                            <p class="special-alt" title="{{prod.prodName}}">{{prod.prodName}}</p>
                            <p class="special-price">
                                <span class="special-now-price">￥4,000.00</span>
                                <del class="special-old-price">￥8,000.00</del>
                            </p>
                            <div class="tag-img">
                                <img src="/images/time-limit.png" alt="限时特价">
                            </div>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="hdbtn">
                <a class="prev sPrev" href="javascript:;"></a>
                <ul style="display: none;"></ul>
                <a class="next sNext" href="javascript:;"></a>
            </div>
        </div>
    </div>


</script>
</body>
</html>
<script src="https://www.zuipin.cn/web/js/lib/jquery-3.2.1.min.js?v=547"></script>
<script src="https://www.zuipin.cn/web/js/lib/jquery.downCount.js?v=547"></script>
<script src="https://www.zuipin.cn/web/js/common.js?v=547"></script>
<script src="https://www.zuipin.cn/web/js/dsp.js?v=547"></script>

<script type="text/javascript" th:src="@{/js/template-web.js}"></script>
<script type="text/javascript" th:inline="javascript">



    <!--Banner-->
    $.get("/banner", function (result) {
        var data = result;
        var html = template('bannerTemplate', data);
        $("#banner").html(html);
    })

    <!--特价商品-->
    $.get("/special", function (result) {
        var data = result;
        var html = template('sepecialTemplate', data);
        $("#special").html(html);

        jQuery(".special-content").slide({
            titCell: ".hdbtn ul",
            autoPlay: true,
            interTime: 4000,
            mainCell: ".slide-item ul",
            autoPage: true,
            vis: 5,
            effect: "leftLoop",
            scroll: 5,
            pnLoop: true,
            trigger: "click"
        });

    })
</script>
<script src="https://www.zuipin.cn/web/js/mix_public/web_index_index.9e90d3b6ac3b527cccb34aec229ff235.js"></script>
<script src="/js/index.js"></script>





